html {
    font-family: "Open Sans", sans-serif;
    font-size: 14
}

.logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 3px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
/*MAIN*/
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Open Sans";
    font-size: 16px;
  }
  nav {
    position: sticky;
    background: #21006fe1;
    padding: 0 15px;
    z-index: 5;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
  }
  .item {
    padding: 10px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: #ccc;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: #111;
    border-radius: 3px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
    }
    .button a {
      background: #0080ff;
      border: 1px royalblue solid;
    }
    .button.secondary {
      border: 0;
    }
    .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: royalblue;
      border-color: darkblue;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }

  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

#myIframe {
    position:relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
}


/*CONTENT*/

.content-box {
    display: flex;
    height: 70vh;
    background-color: #F6F3FF;
    min-width:fit-content;
    margin-bottom: 25px;
}

@media screen and (max-width: 640px) {  /* Adjust screen size as needed */
    .content-box {
      flex-wrap: wrap;
      height: 50%;
    }
  }


.content-box .imgbox{
    width: 50%;
    text-align: left;
    margin: auto;
    min-width: 300px ;

}

.content-box .imgbox img {
    width: 300px;
    height: 220px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}


.content-box .textarea{
    width: 50%;
    display:block;
    text-align: left;
    margin: auto;
    max-width: 300px;
    min-width: 300px;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: lighter;
}

/*SECOND SLIDER*/

.examples {
    width: 100%;
    height: 30vh;
    background-color: #21006f97;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 #secodifr {
    width: 100%;
    height: 30vh;
    outline: 2px solid red;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 640px) {
  .examples, #secodifr {
    width: 100%;
    height: 50vh;
  }}

/*Freepack*/

.promo {
    width: 100%;
    height: 70vh;
    background-color: #F6F3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.image-text-container img {
    width: 300px;
    height: 270px;
    margin-left: 25px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.image-text-container {
    text-align: center; /* Optional: Center the text under the image */
    margin-right: 30px;
  }
  
.image-text-container img {
    display: block; /* Ensures the image behaves like a block element */
    margin-bottom: 10px; /* Optional: Add some space between the image and text */
  }

.promo .text {
    margin-left: 50px;
    min-width: 270px;
    margin-right: 25px;
}

@media screen and (max-width: 640px) {
    .promo {
        flex-wrap: wrap;
    }
}

/*FOOTER*/

.contact-us {
    width: 100%;
    height: 60vh;
    background-color: #21006f97;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 620px) {
    .contact-us {
        flex-direction: column;
        height: 80vh;
    }
}

  

.site-map {
    padding: 0;
    margin-left: -25px;
    background-color: none !important;
  }
  
  .site-map li {
    list-style: none;
    display: column; /* Display list items inline */
    margin: 0 10px; /* Add horizontal spacing */
  }
  
  .site-map a {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Set link color */
    
  }
  
  .site-map a:hover {
    color: #ccc; /* Change link color on hover */
  }


  footer{
    width: 100%;
    height: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .bold {
    font-weight: bold;
  }